

#aTable {
  font-family: 'Cinzel', serif;
  border-collapse: collapse;
  width: 100%;
  background-color:white;
}

#aTable td, #aTable th {
padding: 7px 10px;
}

#aTable tr:nth-child(even){background-color: #bababa;}

#aTable tr:hover {background-color: #ddd;}

#aTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #181F4E;
  color: white;
}

.remove_button{
    font-family: 'Cinzel', serif;
    width: 100%;
    background-color: #181F4E;
    padding: 2px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
}

.remove_button:hover{
    background-color: 22314E;
}

.order_button{
     font-family: 'Cinzel', serif;
     width: 14%;
     background-color: #181F4E;
     color: white;
     padding: 14px 20px;
     margin: 8px 0;
     border: none;
     border-radius: 4px;
     cursor: pointer;
     text-decoration: none;
     font-size: 16px;
}

.order_button:hover{
    background-color: 22314E;
}

.cart_image{
  height: 50px;
  width: 40px;
}