body {
    background-color: #E1DCDC
}

.page_title{
font-family: 'Cinzel', serif;
padding: 2px;
font-size: 40px;
text-align: center;
color: white;
}

.button {
    font-family: 'Cinzel', serif;
    width: 10.52%;
    background-color: silver;
    border: none;
    border-radius: 4px;
    padding: 14px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 8px 0;
    cursor: pointer;
}

.button:hover{
background-color: A9A9A9;
}

.title_background{
background-image: url("Title background.jpg");
}

.badge:after{
        content:attr(value);
        font-size:12px;
        color: #fff;
        background: red;
        border-radius:50%;
        padding: 0 5px;
        position:relative;
        left:-8px;
        top:-10px;
        opacity:0.9;
    }





