.title{
       font-family: 'Cinzel', serif;
       text-align:center;
}

h1,h2,h3,h4,h5,h6{
        font-family: 'Cinzel', serif;
        margin: 0;
        padding: 0;
 }
 p{
        margin: 0;
        padding: 0;
        font-family: 'Cinzel', serif;
        font-size: 16px;
}
.container{
        width: 80%;
        margin-right: auto;
        margin-left: auto;
}
.invoice-section{
        background-color: #181F4E;
        padding: 10px 40px;
}

.row{
        display: flex;
}
.info{
        width: 50%;
}
.text-white{
        color: #fff;
        font-family: 'Cinzel', serif;
        font-size: 16px;
}

.body-section{
        padding: 16px;
        border: 1px solid gray;
}
.heading{
        font-family: 'Cinzel', serif;
        font-size: 16px;
        margin-bottom: 08px;
}
.sub-heading{
        color: #262626;
        margin-bottom: 05px;
}
.table_format{
        font-family: 'Cinzel', serif;
        font-size: 16px;
        background-color: #fff;
        width: 100%;
        border-collapse: collapse;
}
.table_format thead tr{
        border: 1px solid #111;
        background-color: #f2f2f2;
}
.table_format td {
        vertical-align: middle !important;
        text-align: center;
}
.table_format th, table td {
        padding-top: 08px;
        padding-bottom: 08px;
}
.table-bordered{
        box-shadow: 0px 0px 5px 0.5px gray;
}
.table-bordered td, .table-bordered th {
        border: 1px solid #dee2e6;
}
.text-right{
        text-align:left;
        margin-left:50px;
}
.w-20{
        width: 20%;
}
.float-right{
        float: right;
}

.back_to_home_button{
     font-family: 'Cinzel', serif;
     width: 14%;
     background-color: #181F4E;
     color: white;
     padding: 14px 20px;
     margin: 8px 0;
     margin-left:45%;
     border: none;
     border-radius: 4px;
     cursor: pointer;
     text-decoration: none;
     font-size: 16px;
}

.back_to_home_button:hover{
    background-color: 22314E;
}