.background_image{
    background-image: url('homeImage.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    height: 100%;
}

.home_text_format{
    color:#181F4E;
    font-family: 'Cinzel', serif;
}

.shop_button{
     font-family: 'Cinzel', serif;
     width: 100%;
     background-color: #181F4E;
     color: white;
     padding: 14px 20px;
     margin: 8px 0;
     border: none;
     border-radius: 4px;
     cursor: pointer;
     text-decoration: none;
     font-size: 16px;

}

.shop_button:hover{
     background-color: 22314E;
}