body {
    background-color: #E1DCDC
}

.div_format{
font-family: 'Cinzel', serif;
background-color: white;
width: 500px;
margin-left: 80px;
font-size: 16px;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  font-family: 'Cinzel', serif;
  width: 100%;
  background-color: #181F4E;;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

input[type=submit]:hover {
  background-color: 22314E;

}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.order_form_title{
  font-family: 'Cinzel', serif;
  text-align:center;
}

.cart_div{
  font-family: 'Cinzel', serif;
  font-size: 16px;
  background-color: white;
  width: 500px;
  margin-left: 700px;
  margin-top: -700px;
}

.cart_image{
  height: 50px;
  width: 40px;
}

.aTable td, #aTable th {
padding: 6px 8px;

}