.div_format{
font-family: 'Cinzel', serif;
font-size: 16px;
background-color: white;
width: 500px;
margin-left: 30%;
margin-top: 50px;
padding: 14px 20px;
}

.payment_title{
font-family: 'Cinzel', serif;
text-align:center;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  font-family: 'Cinzel', serif;
  font-size: 16px;
  width: 100%;
  background-color: #181F4E;;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: 22314E;

}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}