.products_image {
  height: 260px;
  width: 230px;
  border: 2px solid #ddd;
  border-radius: 4px;
  margin-left: 50px;
  padding: 8px;
}

.zoom:hover {
  transform: scale(1.1);
}

.description_format{
  height: 55px;
  width: 200px;
  text-align: center;
  margin-left: 75px;
}

.price_format{
  width: 200px;
  text-align: center;
  margin-left: 75px;
}

.button_format{
  width: 200px;
  text-align: center;
}

.add_button{
  font-family: 'Cinzel', serif;
       background-color: #181F4E;
       color: white;
       padding: 14px 20px;
       margin: 8px 0;
       margin-left: 105px;
       border: none;
       border-radius: 4px;
       cursor: pointer;
       text-decoration: none;
       font-size: 16px;
}

.add_button:hover{
    background-color: 22314E;
}

.out_of_stock{
       font-family: 'Cinzel', serif;
       background-color: #430012;
       color: white;
       padding: 14px 20px;
       margin: 8px 0;
       margin-left: 105px;
       border: none;
       border-radius: 4px;
       cursor: pointer;
       text-decoration: none;
       font-size: 16px;
}


