

.search input[type=text] {
  padding: 8px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
  border-radius: 4px;
}

.search button {
  float: left;
  width: 20%;
  padding: 9px;
  background: #181F4E;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  border-radius: 4px;
}

.search button:hover {
  background: #22314E;
}

.search::after {
  content: "";
  clear: both;
  display: table;
}